@import 'variables';
.marketinsight{     background:$bg;

    .card-effect {
        background-color:$bg;
         border-radius: 12px; 
         padding: 25px;
    }
   h3{
       font-size: $size;
   }
}

